@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_wght.ttf") format("truetype"),
    url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Chatterbox";
  src: url("/fonts/ChatterBox.ttf") format("truetype"),
    url("/fonts/ChatterBox.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AdleryPro";
  src: url("/fonts/AdleryPro/AdleryPro.ttf") format("truetype"),
    url("/fonts/AdleryPro/AdleryPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Inter", sans-serif;
}

.chatterbox {
  font-family: "Chatterbox", sans-serif;
}

.font-slogan {
  font-family: "AdleryPro", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
